.title{
    font-size: 1.7rem;
    font-weight: 100;
    color:rgba(255, 255, 255, 0.904);
    padding-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    padding:0.5rem;
    min-height: 20rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main > div{
    width: 100%;
}
.hr {
    margin-top: 0.5rem;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.4rem;
}
.row.chrome{
    background-color: #353535;
    border-radius: 0.5rem;
    margin: 0.4rem 0rem;
}
.code {
    font-size: 0.7rem;
    background-color: #383838;
    color: #9E9E9E;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
    max-width: 10rem;
    cursor: pointer;
}
.joinActions {
    padding: 0.4rem 0.2rem;
    padding-bottom: 0.5rem;
}