container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python musicroom/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python musicroom/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "musicroom.settings"
    "PYTHONPATH": "./musicroom"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: musicroom/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "exposed/"