files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /live ws://127.0.0.1:5000/live
      ProxyPassReverse /live ws://127.0.0.1:5000/live
      #Uncomment to route all traffic via asgi uvicorn
      #ProxyPass / http://127.0.0.1:5000/
      #ProxyPassReverse / http://127.0.0.1:5000/