{% extends "base.html" %}
{% block title %}Friendzone{% endblock %}
{% block script %}"/static/bundle/app.js"{% endblock %}
{% block content %}
<script>
    {% autoescape off %}
    window.initialState = {{ state }}
    {% endautoescape %}
</script>
<div id="root">Loading...</div>
<audio id="player"></audio>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    window.player = document.getElementById('player');
    if (!Hls.isSupported()) {
    console.error('HTTP Live Streaming not supported!')
  }
</script>
{% endblock %}