<!doctype html>
<html>

<head>
    <title>{% block title %}Music Room{% endblock %}</title>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/xui/xui.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/shared.css" />
    <script src="/static/scripts/jquery.js"></script>
    <script src="/static/scripts/shared.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content={% block desc %}"Enjoy music with friends together, free!"{% endblock %} />
    {% block tags %}{% endblock %}
    {% endblock %}
</head>

<body>
    {% block body %}
    <script src="/static/scripts/bg.js"></script>
    <div id="bg">
        {% block root %}
        {% include "header.html" with blank=no_header|default:False %}
        {% block content %}
        <h1>Something went wrong!</h1>
        {% endblock %}
        {% endblock %}
    </div>
    {% endblock %}
</body>
<script src={% block script %}{% endblock %}></script>
</html>