{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/forms.css" />
<div class="container">
    <div class="ink-white size-xxl base-m center" id="greet">
        Welcome back
    </div>
    {% if prefer_email %}
    <div class="center" id="emailPreviewContainer">
        <button id="emailPreview">{{ prefer_email }}</button>
    </div>
    {% endif %}
    <div id="sec" class="center">
        <div class="center-col">
            <div id="loginForm" class="center-col">
                <input placeholder="Email" name="email" type="email" value="{{ prefer_email }}" id="emailBox"
                    class="input">
                <input placeholder="Password" name="password" type="password" id="passwordBox" class="input">
                <div id="msg"></div>
                <button id="loginButt" onclick="login()" class="center redButt">LOG IN</button>
            </div>
        </div>
    </div>
    <div class="center ink-light">New here? &nbsp; <a href="/signup">Sign Up ></a></div>
    <br/>
    <br/>
</div>
{% if prefer_email %}
<style>
    #emailBox {
        display: none;
    }
</style>
{% endif %}
<script>
    var api = new window.Api();
    function showFull(){
        $("#emailPreview").css('display', 'none')
        $("#emailBox").css('display', 'block')
    }
    function showMsg(txt){
        $("#msg").css("display","block")
                $("#msg").text(txt);
    }
    function hideMsg(){
        $("#msg").css("display","none")
    }
    $("#emailPreview").on("click", () => {
        showFull()
    })
    $("#passwordBox").on("input", () => {
        hideMsg()
    })
    function login() {
        hideMsg()
        var data = {
            email: $("#emailBox").val().trim(),
            password: $("#passwordBox").val().trim()
        }
        if(isEmail(data.email)){
            api.post('auth', data, (code, res) => {
            if(code==200){
                console.log("success")
                window.location.href="/rooms"
            }
            else if(code==400){
                showFull();
                showMsg(res.msg);
            }
            else if(code==300){
                window.location.href="/"
            }
        })
        }
        else{
            showMsg("Invalid email")
        }
    }
</script>
{% endblock %}