.container{
    max-width: 30rem;
   padding: 2rem 0rem;
   padding-top: 0px;
}
.opt{
    padding: 0.5rem 1rem;
    margin-bottom:0.1rem;
    background-color: rgb(41, 41, 41);
    font-size: 1.2rem;
    font-weight: 400;
    color:rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 4.5rem;
    cursor: pointer;
}
.opt :nth-child(2) {
    font-size: 1rem;
    font-weight: 300;
    color:rgb(177, 177, 177);
  }
.opt:hover{
    background-color: rgb(51, 51, 51);
}