.roomCard{
    display: grid;
    grid-template-columns: 5rem auto;
    width: 30rem;
    max-width: 80vw;
    border-radius: 1.6rem;
    padding: 1.2rem 0.4rem;
    margin: 0.3rem 0.4rem;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
}
.roomCard:hover{
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 70%);
    opacity: 0.8;
}
.ellipseText {
    word-wrap: none;
    white-space: nowrap;
    overflow: hidden;
}
.roomMembers{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem;
    padding-top: 0px;
    padding-left: 0px;
    color: rgb(98, 98, 98);
    font-size: 1rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media(max-width:900px){
    .roomCard {
        max-width: 90vw;
    }
}