#grid{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0.5rem;
    background-color: #2E2E2E;
}
.item{
    padding: 2rem 1rem;
}

@media(max-width:900px){
    .item{
        padding: 1rem 0.5rem;
    }
}